{% extends 'base.html.twig' %}


{% for category in categories %}

    <ul class="list-unstyled">{{ category.name }}
        {% for entity in category.article %}
            <li> <a> {{ entity.article}}</a></li>
        {% endfor %}
    </ul>


{% endfor %}
